<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<section class="section" id="pricing">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="title-box text-center">
                    <h3 class="title-heading mt-4">SecuriFile</h3>
                    <p class="text-muted f-17 mt-3">Send And Upload Secured Files (AES encryption)</p>
                    
                    <img src="images/home-border.png" height="15" class="mt-3" alt="">
                </div>
            </div>
        </div>


        <div class="logins">
            <div class="col-lg-4" style="width:max-content">
                <div class="pricing-box mt-4">
                    <i class="mdi mdi-account-multiple-plus h1"></i>
                   
                    <h4 class="f-20">Login As Admin</h4>

                    <div class="mt-4 pt-2">
                        

                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Show all the users</b>
                           
                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Add and delete users</b>
                           
                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Send Files to users</b>
                            choose to encrypt or decrypt the files </p>
                        
                    </div>

                    
                    


                    <div class="mt-4 pt-3">
                        <a href="http://localhost:4200/admin" class="btn btn-primary btn-rounded">Login</a>
                    </div>
                </div>
            </div>

            

            <div class="col-lg-4" style="width:max-content" >
                <div class="pricing-box mt-4">
                    <i class="mdi mdi-account h1"></i>
                    <h4 class="f-20">Login As User</h4>


                    <div class="mt-4 pt-2">
                       

                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Show files sent to you</b>
                            
                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Upload And Delete Files</b>
                            You can choose to encrypt the files before uploading</p>
                        <p class="mb-2"><i class="mdi mdi-checkbox-marked-circle text-success f-18 mr-2"></i><b>Download Files</b>
                            
                        
                    </div>

                    

                    <div class="mt-4 pt-3">
                        <a href="http://localhost:4200/client" class="btn btn-primary btn-rounded">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-muted f-17 mt-3" style="text-align:center;">Developped using Springboot (backend), Angular(frontend) , Postgresql(Database) ,MinIO (Object Container) and secured with KeyCloak 19.0.0</p>

    </div>

</section>
